/*HEADER*/
.navbar--container-fluid {
  padding-right: 0%;
  padding-top: 2rem;
  margin-top: 2rem;
}

.navbar--container-fluid .navbar-brand {
  padding: 0%;
}

.navbar--container-fluid .navbar-brand #navbarNav {
  font-size: 6rem;
}

.nav-link {
  font-size: 1.33333rem;
}

.logo--header {
  color: gray;
  margin-bottom: 3rem;
}

/*INDEX*/
.caja--index {
  margin-top: 2rem;
  padding-top: 2rem;
}

.titulo--index {
  color: gray;
  margin-top: 4rem;
}

.subtitulo--index {
  font-size: 1.4rem;
}

.Texto--Index {
  font-size: 1.53846rem;
  color: gray;
}

.img--index {
  margin-top: 2rem;
  border-radius: 1rem;
}

.LiBB {
  list-style: none;
}

.titulo--index {
  color: gray;
}

.clase-1 {
  width: 2rem;
  height: 2rem;
  background-color: green;
  margin-left: 1rem;
}

.clase-2 {
  width: 4rem;
  height: 4rem;
  background-color: green;
  margin-left: 2rem;
}

.clase-3 {
  width: 6rem;
  height: 6rem;
  background-color: green;
  margin-left: 3rem;
}

.clase-4 {
  width: 8rem;
  height: 8rem;
  background-color: green;
  margin-left: 4rem;
}

.clase-5 {
  width: 10rem;
  height: 10rem;
  background-color: green;
  margin-left: 5rem;
}

/*HEADER*/
.header--global {
  margin-top: 2rem;
}

.header--global .navbar--container-fluid {
  padding-right: 0%;
  padding-top: 0%;
  margin-top: 0%;
}

.header--global .navbar--container-fluid .navbar-brand {
  padding: 0%;
}

.header--global .navbar--container-fluid .navbar-brand #navbarNav {
  font-size: 1.33333rem;
}

.header--global .logo--header {
  margin-top: 4rem;
  color: gray;
}

/*quienessomos*/
#Caja-Quienes-Somos {
  margin-top: 4rem;
}

#Caja-Quienes-Somos .objetivo--comoempresa {
  font-size: 2rem;
  color: gray;
}

#Caja-Quienes-Somos .TextoQuienesSomos {
  font-size: 1.4rem;
}

/*HEADER*/
.header--global {
  margin-top: 4rem;
}

.header--global .navbar--container-fluid {
  padding-right: 0%;
  padding-top: 0%;
  margin-top: 0%;
}

.header--global .navbar--container-fluid .navbar-brand {
  padding: 0%;
}

.header--global .navbar--container-fluid .navbar-brand #navbarNav {
  font-size: 1.33333rem;
}

.header--global .logo--header {
  margin-top: 4rem;
  color: gray;
}

/*menues*/
.div-informales {
  margin-bottom: 4rem;
}

.div-informales .SubInformales {
  color: gray;
  font-size: 2rem;
}

.div-informales .TextoInformales {
  font-size: 1.33333rem;
}

.contenedor-formales {
  margin-top: 4rem;
}

.contenedor-formales .SubFormales {
  color: gray;
  font-size: 2rem;
}

.contenedor-formales .TextoFormales {
  font-size: 1.33333rem;
}

/*HEADER*/
.header--global {
  margin-top: 4rem;
}

.header--global .navbar--container-fluid {
  padding-right: 0%;
  padding-top: 0%;
  margin-top: 0%;
}

.header--global .navbar--container-fluid .navbar-brand {
  padding: 0%;
}

.header--global .navbar--container-fluid .navbar-brand #navbarNav {
  font-size: 1.33333rem;
}

.header--global .logo--header {
  margin-top: 4rem;
  color: gray;
}

/*HEADER*/
.header--global {
  margin-top: 4rem;
}

.header--global .navbar--container-fluid {
  padding-right: 0%;
  padding-top: 0%;
  margin-top: 0%;
}

.header--global .navbar--container-fluid .navbar-brand {
  padding: 0%;
}

.header--global .navbar--container-fluid .navbar-brand #navbarNav {
  font-size: 1.33333rem;
}

.header--global .logo--header {
  margin-top: 4rem;
  color: gray;
}

/*contactos*/
#contactForm {
  margin-left: 12rem;
  margin-right: 12rem;
}

.AAASSS {
  font-size: 4rem;
  color: gray;
}
/*# sourceMappingURL=style.css.map */