$color-titulo: gray;
$margin: 2rem;
$font: 2rem;

/*HEADER*/
.header--global {
  margin-top: $margin * 2;

  .navbar--container-fluid {
    padding-right: 0%;
    padding-top: 0%;
    margin-top: 0%;

    .navbar-brand {
      padding: 0%;

      #navbarNav {
        font-size: $font/1.5;
      }
    }
  }
  .logo--header {
    margin-top: $margin * 2;
    color: $color-titulo;
  }
}
/*menues*/
.div-informales {
  margin-bottom: 4rem;
  .SubInformales {
    color: $color-titulo;
    font-size: $font;
    margin-top: 2%;
  }
  .TextoInformales {
    font-size: $font/1.2;
    margin-top: 1.2%;
    padding-right: 5%;
  }
}
.img--menu-informales {
  margin-top: 3%;
  margin-bottom: 3%;
}
.contenedor-formales {
  margin-top: 4rem;
  .SubFormales {
    color: $color-titulo;
    font-size: $font;
  }
  .TextoFormales {
    font-size: $font/1.2;
    margin-top: 1.2%;
    padding-right: 5%;
  }
}
